 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="posts.css">
    <script src="posts.js"></script>


</head>
<body>
    
    <div class='gridcontainer'>

    <div class='gridbox1'>
     <h3 class='title'>Timeline</h3>
     <hr>
     <div class='form'>
     
       <div class='form'>
       <h3>Post a message</h3>
       <input type="text" placeholder="Type your message here...">
       <div class='rightside'>
       <button>Post a message</button>
       </div>
         
       </div>
     </div>
   </div>
   
   <div class='gridbox2'>
     <div class='form' id="messages-container">
       <div class='message-card'>
           <p><%= user.name %></p>
           <p><%= user.createdAt %></p>
           <p><%= user.message %></p>
       </div>
 
     </div> 
   </div>
   
 </div>

</body>
</html>


 
 

 
 
